@import "tailwindcss";

@theme {
  --color-primary: rgb(145, 47, 86);
  --color-secondary: rgb(82, 25, 69);
  --color-white: rgb(234, 242, 239);
  --color-accent: rgb(54, 31, 39);
  --color-dark: rgb(13, 9, 10);

  --color-error: rgb(201, 8, 8);
  --color-success: rgb(17, 190, 17);

  --size-sm: clamp(8px, 2vw, 16px);
}

a {
  color: var(--color-secondary);
}

input:focus {
  outline: none;
}

.line {
  height: 0.3px;
  width: 100%;
}

.no-default-appearance {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.auth-page {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  place-items: center;
  justify-content: center;
}

.auth-card {
  max-width: 28rem;
  width: 100%;
  height: 100%;
  max-height: 512px;
  display: grid;
  place-items: center;
  justify-content: space-evenly;
  padding: var(--size-sm);
  border-radius: var(--size-sm);
  border: 1px solid black;
}
