@import "tailwindcss";

@theme {
    --color-primary: rgb(145, 47, 86);
    --color-secondary: rgb(82, 25, 69);
    --color-white: rgb(234, 242, 239);
    --color-accent: rgb(54, 31, 39);
    --color-dark: rgb(13, 9, 10);

    --color-error: rgb(224, 0, 0);
}

a {
    color: var(--color-secondary);
}