@import "tailwindcss";

@theme static {
  --color-primary: rgb(145, 47, 86);
  --color-secondary: rgb(82, 25, 69);
  --color-accent: rgb(54, 31, 39);
  --color-dark: rgb(13, 9, 10);
  --color-white: rgb(248, 249, 250);

  --color-success: rgb(17, 190, 17);
  --color-error: rgb(201, 8, 8);

  --size-sm: clamp(8px, 6vw, 16px);
  --size-md: clamp(16px, 8vw, 32px);
  --size-lg: clamp(32px, 12vw, 64px);
}

a {
  color: var(--color-secondary);
}

button:active {
  transform: scale(0.993);
}
input:focus {
  outline: none;
}

.line {
  height: 0.3px;
  width: 100%;
}

.no-default-appearance {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.auth-page {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  place-items: center;
  justify-content: center;
}

.auth-card {
  background-color: var(--color-white);
  max-width: 28rem;
  width: 100%;
  height: 100%;
  max-height: 600px;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: var(--size-lg);
  border-radius: var(--size-sm);
  box-shadow: 0.5px 1px 5px rgba(0, 0, 0, 0.15);
}
.auth-card.login {
  grid-template-rows: 1fr 1fr auto 1fr;
}

.auth-card.signup {
  grid-template-rows: auto 1fr;
}

.toast.in {
  animation: slide-in-right 0.35s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

.toast.out {
  animation: slide-out-right 0.35s ease-out forwards;
}

.loading > * {
  animation: loading-animation 1s ease-in-out infinite both;
}

.loading > *:nth-child(1) {
  animation-delay: 0s;
}
.loading > *:nth-child(2) {
  animation-delay: 0.15s;
}
.loading > *:nth-child(3) {
  animation-delay: 0.3s;
}

@keyframes slide-in-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-out-right {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
@keyframes loading-animation {
  0% {
    opacity: 0.4;
    transform: translateY(0%);
  }
  50% {
    opacity: 1;
    transform: translateY(-30%);
  }
  100% {
    opacity: 0.4;
    transform: translateY(0%);
  }
}
